<ion-header>
  <ion-toolbar>
    <ion-title>CampusEats Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="menu-container">

    <h1>CampusEats Menu</h1>

    <p>
      Cart Items: {{ cart.count() }}
    </p>

    <p>
      Cart Total: PHP {{ cart.total() }}
    </p>

    <p>
      {{ items().length }} dishes available
    </p>

    @if (menu.loading()) {

      <p>Loading the menu...</p>

    } @else if (menu.error()) {

      <p>Could not reach the canteen.</p>

      <button (click)="menu.load()">
        Try again
      </button>

    } @else {

      @for (item of items(); track item.id) {

        <app-food-card
          [item]="item"
          (addToCart)="cart.add($event)"
        ></app-food-card>

      } @empty {

        <p>No dishes available.</p>

      }

    }

  </div>

</ion-content>